/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Oswald|Patua+One&display=swap');
@import '../dist/ngx-org-chart/theming';

html, body {
  display: flex;
  flex: 1;
}

.ngx-org-name {
  font-family: 'Patua One', cursive;
}

.ngx-org-title {
  font-family: 'Oswald', sans-serif;
}

.ngx-org-border {
  border-color: #9E9E9E;
}

.ngx-org-box {
  color: white;
  width: 10em;
}

.ngx-org-ceo {
  background-color: #4caf50;
}
.ngx-org-head {
  background-color: #03A9F4;
}
.ngx-org-vp {
  background-color: #607D8B;
}
.ngx-org-man {
  background-color: #9C27B0;
}
